<template name="projectExport">
  <div class="project-page page">
    {{> projectItem extendContext 'projectItemIsOpen' false}}
    <div class="grid-block">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
          </tr>
      </thead>
        <tbody>
          {{#each sources}}
            <tr>
              <td>{{title}}</td>
              <td>{{description}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="grid-block">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Findings</th>
            <th>Sources</th>
          </tr>
        </thead>
        <tbody>
          {{#each findings}}
            <tr>
              <td>{{body}}</td>
              <td>{{#each findingSources}}{{title}}<br>{{/each}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>
