<template name="projectTabs">
  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#sources" aria-controls="sources" role="tab" data-toggle="tab">
          Sources
        </a>
      </li>
      <li role="presentation">
        <a href="#findings" aria-controls="findings" role="tab" data-toggle="tab">
          Findings
        </a>
      </li>
      <li role="presentation">
        <a href="#risks" aria-controls="risks" role="tab" data-toggle="tab">
          Risks
        </a>
      </li>
      <li role="presentation">
        <a href="#measures" aria-controls="measures" role="tab" data-toggle="tab">
          Measures
        </a>
      </li>
      <li role="presentation">
        <a href="#report" aria-controls="report" role="tab" data-toggle="tab">
          Report
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade active in" id="sources" aria-labelled-by="sources">
        <ul class="sources">
          {{#each sources}}
            {{> item}}
          {{/each}}
        </ul>
        {{> sourceSubmit}}
      </div>
      <div role="tabpanel" class="tab-pane fade" id="findings" aria-labelled-by="findings">
        {{#if has_sources}}
          <ul class="findings">
            {{#each findings}}
              {{> item}}
            {{/each}}
          </ul>
          {{> findingSubmit}}
        {{else}}
          <div class="jumbotron">
            <p>You need to add sources before you can add findings.</p>
          </div>
        {{/if}}
      </div>
      <div role="tabpanel" class="tab-pane fade" id="risks" aria-labelled-by="risks">
        {{#if has_findings}}
          <ul class="risks">
            {{#each risks}}
              {{> item}}
            {{/each}}
          </ul>
          {{> riskSubmit}}
        {{else}}
          <div class="jumbotron">
            <p>You need to add findings before you can add risks.</p>
          </div>
        {{/if}}
      </div>
      <div role="tabpanel" class="tab-pane fade" id="measures" aria-labelled-by="measures">
        {{#if has_risks}}
          <ul class="measures">
            {{#each measures}}
              {{> item}}
            {{/each}}
          </ul>
          {{> measureSubmit}}
        {{else}}
          <div class="jumbotron">
            <p>You need to add risks before you can add measures.</p>
          </div>
        {{/if}}
      </div>
      <div role="tabpanel" class="tab-pane fade" id="report" aria-labelled-by="measures">
        {{> projectReport}}
      </div>
    </div>
  </div>
</template>
