<template name="projectPage">
  <div class="project-page page">
    {{#if show_tip}}
      <div class="alert alert-info">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{_ "Tip"}}!</strong>
        {{_ "Sources, findings, risks, and measures can be reordered by drag and drop"}}.
      </div>
    {{/if}}
    {{#if item_is_edited}}
      {{> projectEdit}}
    {{else}}
      {{> projectItem extendContext 'projectItemIsOpen' true}}
    {{/if}}
    {{> projectTabs}}
  </div>
</template>
