<template name="projectEdit">
  <form name="project" class="main form">
    {{> titleControl extendContext 'control_id' 'project_title'}}
    {{> descriptionControl extendContext 'control_id' 'project_description'}}
    <div class="form-group {{errorClass 'members'}}">
      <div class="controls">
        <label for="members">{{_ "Project members"}}</label>
        <select name="members" multiple="multiple" class="form-control member-select">
          {{#each usernames}}
            <option selected="{{userIsMember}}" value="{{_id}}">{{username}}</option>
          {{/each}}
        </select>
        <span class="help-block">{{errorMessage 'members'}}</span>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary submit">{{_ "OK"}}</button>
      <button type="button" class="btn btn-default cancel">{{_ "Cancel"}}</button>
      <a data-toggle="modal" class="btn btn-danger delete pull-right" href="#deleteProject">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {{_ "Delete"}}
      </a>
    </div>
  </form>
  {{>deleteProject}}
</template>

<template name="deleteProject">
  <div class="modal fade" id="deleteProject" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{_ "delete_kind" translated_kind}}</h4>
        </div>
        <div class="modal-body">
          <h4>{{title}}</h4>
          <p>{{description}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{{_ "Cancel"}}</button>
          <button type="button" class="btn btn-danger delete" data-dismiss="modal">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {{_ "Delete"}}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
