<template name="projectNew">
  <form name="project" class="main form page">
    {{> titleControl control_id='project_title' title='' kind='project'}}
    {{> descriptionControl control_id='project_description' description=''}}
    <div class="form-group {{errorClass 'members'}}">
      <div class="controls">
        <label for="members">Project members</label>
          <select name="members" multiple="multiple" class="form-control select2">
          {{#each usernames}}
            <option value="{{_id}}">{{username}}</option>
          {{/each}}
        </select>
        <span class="help-block">{{errorMessage 'members'}}</span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Add project</button>
  </form>
</template>
