<template name="projectPage">
  <div class="project-page page">
    {{> projectItem extendContext 'projectItemIsOpen' true}}
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <ul class="sources">
          {{#each sources}}
            {{> sourceItem}}
          {{/each}}
        </ul>
        {{#if currentUser}}
          {{> sourceSubmit}}
        {{else}}
          <p>Please log in to add sources.</p>
        {{/if}}
      </div>
      <div class="col-md-6 col-lg-6">
        <ul class="findings">
          {{#each findings}}
            {{> findingItem}}
          {{/each}}
        </ul>
        {{#if currentUser}}
          {{> findingSubmit}}
        {{else}}
          <p>Please log in to add findings.</p>
        {{/if}}
      </div>
    </div>
  </div>
</template>
