.grid-block, .main, .project, .measures li, .measure-form, .risks li, .risk-form, .findings li, .finding-form, .sources li, .source-form {
  background: #fff;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

body {
  background: #eee;
  color: #666666; }

#main {
  position: relative;
}
.page {
  position: absolute;
  top: 0px;
  width: 100%;
}

.navbar {
  margin-bottom: 10px; }
  /* line 32, ../sass/style.scss */
  .navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px; }

#spinner {
  height: 300px; }

.project {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */
  *zoom: 1;
  position: relative;
  opacity: 1; }
  .project:before, .project:after {
    content: "";
    display: table; }
  .project:after {
    clear: both; }
  .project.invisible {
    opacity: 0; }
  .project.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .project.animate{
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }
  .project .project-content {
    float: left; }
    .project .project-content h3 {
      margin: 0;
      line-height: 1.4;
      font-size: 18px; }
      .project .project-content h3 a {
        display: inline-block;
        margin-right: 5px; }
      .project .project-content h3 span {
        font-weight: normal;
        font-size: 14px;
        display: inline-block;
        color: #aaaaaa; }
    .project .project-content p {
      margin: 0; }
  .project .edit {
    display: block;
    float: right;
    margin-top: 7px; }

 .submitted-author-date {
   font-size: 12px;
   color: #aaaaaa;
 }

 .measures {
   list-style-type: none;
   padding-left: 0;
   font-size: 16px;
   margin: 0; }
   .measures li {
     display: block; }
     .measures li .measures-content {
       display: inline-block;
       width: 90%; }
       .measures li .measures-content h3 {
         margin: 0;
         line-height: 1.4;
         font-size: 18px; }
         .measures li .measures-content h3 span {
           font-weight: normal;
           font-size: 14px;
           display: inline-block;
           color: #aaaaaa; }
     .measures li .edit {
       display: block;
       float: right;
       margin-top: 7px; }

 .risks {
   list-style-type: none;
   padding-left: 0;
   font-size: 16px;
   margin: 0; }
   .risks li {
     display: block; }
     .risks li .risks-content {
       display: inline-block;
       width: 90%; }
       .risks li .risks-content h3 {
         margin: 0;
         line-height: 1.4;
         font-size: 18px; }
         .risks li .risks-content h3 span {
           font-weight: normal;
           font-size: 14px;
           display: inline-block;
           color: #aaaaaa; }
     .risks li .edit {
       display: block;
       float: right;
       margin-top: 7px; }

.findings {
  list-style-type: none;
  padding-left: 0;
  font-size: 16px;
  margin: 0; }
  .findings li {
    display: block; }
    .findings li .findings-content {
      display: inline-block;
      width: 90%; }
      .findings li .findings-content h3 {
        margin: 0;
        line-height: 1.4;
        font-size: 18px; }
        .findings li .findings-content h3 span {
          font-weight: normal;
          font-size: 14px;
          display: inline-block;
          color: #aaaaaa; }
    .findings li .edit {
      display: block;
      float: right;
      margin-top: 7px; }

.sources {
  list-style-type: none;
  padding-left: 0;
  font-size: 16px;
  margin: 0; }
  .sources li {
    display: block; }
    .sources li .sources-content {
      display: inline-block;
      width: 90%; }
      .sources li .sources-content h3 {
        margin: 0;
        line-height: 1.4;
        font-size: 18px; }
        .sources li .sources-content h3 span {
          font-weight: normal;
          font-size: 14px;
          display: inline-block;
          color: #aaaaaa; }
    .sources li .edit {
      display: block;
      float: right;
      margin-top: 7px; }

.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap; }

.load-more {
  display: block;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; }
  .load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1); }

.projects .spinner-container{
  position: relative;
  height: 100px;
}

.jumbotron{
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}
