<template name="findingEdit">
  <form name="finding" class="item-form form">
    {{> titleControl extendContext 'control_id' 'finding_title'}}
    {{> descriptionControl}}
    <div class="form-group {{errorClass 'sources'}}">
      <div class="controls">
        <label for="sources">{{_ "Sources"}}</label>
        <select name="sources" multiple="multiple" class="form-control source-select">
          {{#each sources}}
            <option selected="{{sourceIsSelected}}" value="{{_id}}">{{title}}</option>
          {{/each}}
        </select>
        <span class="help-block">{{errorMessage 'sources'}}</span>
      </div>
    </div>
    {{#if project_criteria.count}}
      <div class="form-group">
        <div class="controls">
          <label for="criteria">{{_ "Criteria"}}</label>
          <select name="criteria" multiple="multiple" class="form-control criterium-select">
            {{#each project_criteria}}
              <option selected="{{criteriumIsSelected}}" value="{{_id}}">{{title}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    {{/if}}
    <div class="form-group">
      <button type="submit" class="btn btn-primary submit">{{_ "OK"}}</button>
      <button type="button" class="btn btn-default cancel">{{_ "Cancel"}}</button>
      {{#if hasNoRisks}}
        <a data-toggle="modal" class="btn btn-danger delete pull-right" href="#deleteFinding">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {{_ "Delete"}}
        </a>
      {{/if}}
    </div>
  </form>
  {{>deleteFinding}}
</template>

<template name="deleteFinding">
  <div class="modal fade" id="deleteFinding" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{_ "delete_kind" translated_kind}}</h4>
        </div>
        <div class="modal-body">
          <h4>{{title}}</h4>
          <p>{{description}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{{_ "Cancel"}}</button>
          <button type="button" class="btn btn-danger delete" data-dismiss="modal">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {{_ "Delete"}}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
