.item:before, .item:after {
  content: "";
  display: table; }

.item:after {
  clear: both; }

.item:hover {
  background-color: #fcfcff; }

  .item .item-content {
    float: left; }

    .item .item-content h3 {
      margin: 0;
      line-height: 1.4;
      font-size: 18px; }

      .item .item-content h3 span {
        font-weight: normal;
        font-size: 14px;
        display: inline-block;
        color: #aaaaaa; }

  .item .edit {
    display: block;
    float: right;
    margin-top: 7px; }
