<template name="riskSubmit">
  <form name="risk" class="item-form form">
    {{> titleControl control_id='risk_title' title='' kind='risk'}}
    {{> descriptionControl description='' kind='risk'}}
    <div class="form-group {{errorClass 'findings'}}">
      <div class="controls">
        <label for="findings">{{_ "Findings"}}</label>
        <select name="findings" multiple="multiple" class="form-control finding-select">
          {{#each findings}}
            <option value="{{_id}}">{{title}}</option>
          {{/each}}
        </select>
        <span class="help-block">{{errorMessage 'findings'}}</span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary submit">{{_ "OK"}}</button>
    {{#if has_risks}}
      <button type="button" class="btn btn-default cancel">{{_ "Cancel"}}</button>
    {{/if}}
  </form>
</template>
