<template name="riskEdit">
  <form name="risk" class="risk-form form">
    {{> titleControl extendContext 'control_id' 'risk_title'}}
    {{> descriptionControl}}
    <div class="form-group {{errorClass 'findings'}}">
      <div class="controls">
        <label for="findings">{{_ "Findings"}}</label>
        <select name="findings" multiple="multiple" class="form-control finding-select">
          {{#each findings}}
            <option selected="{{findingIsSelected}}" value="{{_id}}">{{title}}</option>
          {{/each}}
        </select>
        <span class="help-block">{{errorMessage 'findings'}}</span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary submit">{{_ "Submit"}}</button>
    <hr/>
    <a data-toggle="modal" class="btn btn-danger delete" href="#deleteRisk">{{_ "Delete"}}</a>
  </form>
  {{>deleteRisk}}
</template>

<template name="deleteRisk">
  <div class="modal fade" id="deleteRisk" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{_ "delete_kind" translated_kind}}</h4>
        </div>
        <div class="modal-body">
          <h4>{{title}}</h4>
          <p>{{description}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{_ "Cancel"}}</button>
          <button type="button" class="btn btn-danger delete" data-dismiss="modal">{{_ "Delete"}}</button>
        </div>
      </div>
    </div>
  </div>
</template>
