<template name="measureSubmit">
  <form name="measure" class="item-form form">
    {{> titleControl control_id='measure_title' title='' kind='measure'}}
    {{> descriptionControl description='' kind='measure'}}
    <div class="form-group {{errorClass 'risks'}}">
      <div class="controls">
        <label for="risks">{{_ "Risks"}}</label>
        <select name="risks" multiple="multiple" class="form-control risk-select">
          {{#each risks}}
            <option value="{{_id}}">{{title}}</option>
          {{/each}}
        </select>
        <span class="help-block">{{errorMessage 'risks'}}</span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary submit">{{_ "OK"}}</button>
    {{#if has_measures}}
      <button type="button" class="btn btn-default cancel">{{_ "Cancel"}}</button>
    {{/if}}
  </form>
</template>
