<template name="sourceEdit">
  <form name="source" class="source-form form">
    <div class="form-group {{errorClass 'body'}}">
      <div class="controls">
        <label for="body">Edit source</label>
        <textarea name="body" id="body" class="form-control" rows="3" value="{{body}}">{{body}}</textarea>
        <span class="help-block">{{errorMessage 'body'}}</span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary submit">Submit source</button>
    <hr/>
    <a class="btn btn-danger delete" href="#">Delete source</a>
  </form>
</template>
