<template name="sourceEdit">
  <form name="source" class="source-form form">
    <div class="form-group {{errorClass 'body'}}">
      <div class="controls">
        <label for="body">Edit source</label>
        <textarea name="body" id="body" class="form-control" rows="3" value="{{body}}">{{body}}</textarea>
        <span class="help-block">{{errorMessage 'body'}}</span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary submit">Submit source</button>
    {{#if hasNoFindings}}
      <hr/>
      <a data-toggle="modal" class="btn btn-danger delete" href="#deleteSource">Delete source</a>
    {{/if}}
  </form>
  {{> deleteSource}}
</template>

<template name="deleteSource">
  <div class="modal fade" id="deleteSource" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete {{kind}}?</h4>
        </div>
        <div class="modal-body">
          <p>{{body}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger delete" data-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>
</template>
